.tag{
    border-radius: 32px;
    border: 1px solid black;
    font-size: inherit;
    padding: 2px 12px;
}
/******************************************/
.accordion{
    border: 1px solid black;
    border-radius: 24px;
    padding: 12px 24px;
}
.accordion > .head{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 12px;
}
.accordion > .body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

/******************************************/
#main{
    display: flex;
    height: 100vh;
    background-color: lightgray;
}
#main > div{
    flex: 1;
    height: 100%;
    background-color: beige;
}
#main > div > img{
    width: 100%;
    height: 100%;
}
#main > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
/****************************************/
#main .information{
    width: 60%;
}
#main .information .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: var(--font-label-sm-size);
}
#main .information .header .share{
    border: unset;
    background: unset;
    cursor: pointer;
    font-size: larger;
}


#main .information .title{
    margin-bottom: 24px;
}
/*******************************/
#main .information .group{
    margin-bottom: 24px;
}
#main .information .group li{
    display: inline-block;
    list-style: none;
    border-bottom: 1.2px solid black;
    margin-right: 4px;
}
/*******************************/
#main .information .size{
    background-color: white;
    margin-bottom: 12px;
}
#main .information .size > .head{
    font-size: var(--font-label-lg-size);
}
#main .information .size > .body > button{
    width: 100%;
    border-radius: 24px;
    background-color: transparent;
    border: 1px solid black;
    padding: 8px 0;
    font-size: var(--font-label-sm-size);
}
/*******************************/
#main .information .cart{
    border: 1px solid black;
    border-radius: 24px;
    background-color: var(--color-primary);
    color: white;
}
#main .information .cart > button{
    width: 100%;
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

/********************************************************/
#detail{
    position: relative;
    display: flex;
}
#detail > div{
    flex: 1;
    padding: 48px;
}
/****************************************/
#detail .image_container{
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    align-self: flex-start;
}

#detail .image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****************************************/
#detail .information > div:first-child{
    margin-bottom: 48px;
}

#detail .information .text{
    font-size: var(--font-body-lg-size);
    color: var(--color-on-tertiary-fixed);
    margin-bottom: 24px;
}

#detail .information span.text{
    display: list-item;
    list-style-position: inside;
    font-size: var(--font-label-sm-size);
    margin-bottom: 2px;
}



#detail .accordion{
    padding: unset;
    border: none;
    margin: 8px 0;
}
#detail .accordion > .head{
    padding: 8px 0;
    border-bottom: 1px solid black;
    font-size: var(--font-body-md-size);
}
#detail .accordion > .body{
    display: block;
    font-size: var(--font-body-md-size);
    padding: 4px 16px;
}
#detail .accordion > .body.membership li{
    display: list-item;
    list-style-type: none;
    list-style-position: inside;
    margin: 16px 0;
    &::before{
        content: "\2713";
        margin-right: 12px;
        font-weight: bold;
    }
}

#detail .accordion > .product_information > div{
    display: flex;
    margin: 16px 0;
}
#detail .accordion > .product_information span:first-child{
    width: 140px;
    font-weight: bold;
}
/***************************************************/
#detail .accordion .fit_container{
    display: flex;
}
#detail .accordion .fit_container > div{
    flex: 1;
    height: 100px;
    border: 1px solid black;
    padding: 8px;
    &:not(:last-child){
        margin-right: 12px;
    }
}
#detail .accordion .fit_container > div > span{
    display: block;
    text-align: center;
    margin: 4px 0;
    &:first-child{
        font-weight: bold;
    }
    &:last-child{
        color: var(--color-secondary);
    };
}

#detail .accordion .spec{
    position: relative;
    margin: 16px 0;
}
#detail .accordion .spec > b{
    display: block;
}
#detail .accordion .progress{
    margin: 8px 0;
}
#detail .accordion .progress.parent{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4px;
    background-color: black;
    overflow: hidden;
}
#detail .accordion .progress.child{
    width: 100%;
    height: 4px;
    background-color: var(--color-error);
    animation-name: progressbar;
    animation-duration: 1s;
}
#detail .accordion .spec:nth-child(1) .child{
    transform: translateX(-50%);
}
#detail .accordion .spec:nth-child(2) .child{
    transform: translateX(-75%);
}
#detail .accordion .spec:nth-child(3) .child{
    transform: translateX(-66%);
}


#detail .accordion .progress_container >div:last-child{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-body-md-size);
    color: var(--color-secondary);
}
/*******************************************/
#checkpoint .card{
    display: inline-block;
    width: 320px;
    margin-right: 16px;
}
#checkpoint .card .image_container{
    aspect-ratio: 1 / 1;
}
#checkpoint .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#model_cut .card{
    display: inline-block;
    width: 320px;
    margin-right: 16px;
}
#model_cut .card .image_container{
    aspect-ratio: 1 / 1;
}
#model_cut .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/***************************/
#review{
    padding: 40px 60px;
}
#review h2{
    font-size: 20px;
    margin-bottom: 20px;
}
#review > button{
    width: 320px;
    height: 36px;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-weight: bold;
}
#review .rating{
    display: flex;

}
#review .average_rating{
    text-align: center;
    padding: 40px;
}
#review .average_rating > h3{
    font-size: 48px;
}
#review .average_rating > span{
    margin: 8px 8px;
    display: block;
}
#review .total_rating{
    margin-left: 150px;
    padding: 45px 0 0 0;
}

#review .total_rating .stars{
    display: inline-block;
    color: yellow;
}
#review .total_rating .stars > i{
    margin-bottom: 10px;
}
/*****************************/
#review .photo_video > .header{
    display: flex;
    justify-content: space-between;
}
#review .photo_video > .header h3{
    font-size: 16px;
    margin-bottom: 30px;
}
#review .photo_video > ul{
    display: grid;
    grid-template-columns: repeat(8, minmax(200px, 1fr));
}
#review .photo_video > ul > li{
    margin-right: 10px;
}
#review .photo_video .image_container{
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
}
#review .photo_video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#review .photo_video i{
    position: absolute;
    top: 4px;
    right: 4px;
    color: white;
}
/***************************************/
#review .filter > div{
    display: flex;
    justify-content: space-between;
}
#review .filter .search{
    background-color: white;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    padding: 4px 12px;
}
#review .filter .search > input{
    border: none;
    background: none;
}
/**************************/
#review .reviews .item{
    display: flex;
}
#review .reviews .item .contents{
    flex: 1;
}
#review .reviews .item .contents .user{
    display: flex;
    align-items: center;
}
#review .reviews .item .contents .user_icon{
    display: inline-block;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
}
#review .reviews .item .contents .user_icon > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




#review .reviews .item .images{
    display: flex;
}
#review .reviews .item .images > .image_button{
    width: 100px;
    height: 100px;
}
#review .reviews .item .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@keyframes progressbar {
    from{
        transform: translateX(-100%);
    }
    to{
        #detail .accordion .spec:nth-child(1) .child{
            transform: translateX(-50%);
        }
        #detail .accordion .spec:nth-child(2) .child{
            transform: translateX(-75%);
        }
        #detail .accordion .spec:nth-child(3) .child{
            transform: translateX(-66%);
        }
    }
}












